**Updated ER Diagram:**

![](https://drive.google.com/uc?export=view&id=1cp6guZbRJbMnTNE3YGFi68FI4HoXSSJS)

In [0]:
import sqlite3

In [0]:
# connect to database, if not there, create it.
connectionToDatabase = sqlite3.connect('GrubHubData')

In [0]:
cursor = connectionToDatabase.cursor()

In [0]:
cursor.execute('''drop table IF EXISTS FoodItem ''')
connectionToDatabase.commit()
cursor.execute('''create table IF NOT EXISTS FoodItem (FoodID real PRIMARY KEY, Item Name text, RestaurantID real, Price text, Quantity text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into FoodItem values (1001, 'Pad Thai', 1100, '$9', '1 bowl'), (1002, 'Cheese Pizza', 1200, '$3', '1 slice'), (1003, 'Chicken Fried Rice', 1300, '$8', '1 bowl'), (1004, 'Fish Tacos', 1400, '$12', '3 tacos'), (1005, 'Chicken Wings', 1500, '$8', '8 wings');''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''select * from FoodItem;''')
print (cursor.fetchall())

[(1001.0, 'Pad Thai', 1100.0, '$9', '1 bowl'), (1002.0, 'Cheese Pizza', 1200.0, '$3', '1 slice'), (1003.0, 'Chicken Fried Rice', 1300.0, '$8', '1 bowl'), (1004.0, 'Fish Tacos', 1400.0, '$12', '3 tacos'), (1005.0, 'Chicken Wings', 1500.0, '$8', '8 wings')]

In [0]:
cursor.execute('''drop table IF EXISTS Customer ''')
connectionToDatabase.commit()
cursor.execute('''create table IF NOT EXISTS Customer (CustomerID real PRIMARY KEY, FName text, LName text, DOB text, Phone Number text, LastTransactionID real, TransactionID real)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Customer values (2004.0, 'Sam', 'Robinson', '07/05/1991', '(256) 753-3489', 1504.0, 1604.0), (2000.0, 'Josh', 'Bezos', '01/10/1981', '(450) 852-9021', 1500.0, 1600.0), (2001.0, 'Jeff', 'Wex', '04/15/1983', '(485) 811-3752', 1501.0, 1601.0), (2002.0, 'Danny', 'Glickman', '11/11/1998', '(267) 810-3412', 1502.0, 1602.0), (2003.0, 'Chloe', 'Saunders', '09/10/1984', '(267) 813-3469', 1503.0, 1603.0);''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''select * from Customer;''')
print (cursor.fetchall())

[(2004.0, 'Sam', 'Robinson', '07/05/1991', '(256) 753-3489', 1504.0, 1604.0), (2000.0, 'Josh', 'Bezos', '01/10/1981', '(450) 852-9021', 1500.0, 1600.0), (2001.0, 'Jeff', 'Wex', '04/15/1983', '(485) 811-3752', 1501.0, 1601.0), (2002.0, 'Danny', 'Glickman', '11/11/1998', '(267) 810-3412', 1502.0, 1602.0), (2003.0, 'Chloe', 'Saunders', '09/10/1984', '(267) 813-3469', 1503.0, 1603.0)]

In [0]:
cursor.execute('''drop table IF EXISTS Restaurant ''')
connectionToDatabase.commit()
cursor.execute('''create table IF NOT EXISTS Restaurant (RestaurantID real PRIMARY KEY, Restaurant Name, Address text, City text, State text, Zip Code text, AvgRating real)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Restaurant values (1100.0, 'Big Bowl', '418 E College Ave', 'State College', 'Pennsylvania', '16801', 4.6), (1200.0, 'Pizza Hut', '760 S Atherton St', 'State College', 'Pennsylvania', '16801', 3.7), (1300.0, 'Tadashi', '206 W College Ave', 'State College', 'Pennsylvania', '16801', 4.4), (1400.0, 'Qdoba', '208 W College Ave', 'State College', 'Pennsylvania', '16801', 4.3), (1500.0, 'Wings Over Happy Valley', '244 W Hamilton Ave', 'Jamison', 'Pennsylvania', '18929', 4.1);''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''select * from Restaurant;''')
print (cursor.fetchall())

[(1100.0, 'Big Bowl', '418 E College Ave', 'State College', 'Pennsylvania', '16801', 4.6), (1200.0, 'Pizza Hut', '760 S Atherton St', 'State College', 'Pennsylvania', '16801', 3.7), (1300.0, 'Tadashi', '206 W College Ave', 'State College', 'Pennsylvania', '16801', 4.4), (1400.0, 'Qdoba', '208 W College Ave', 'State College', 'Pennsylvania', '16801', 4.3), (1500.0, 'Wings Over Happy Valley', '244 W Hamilton Ave', 'Jamison', 'Pennsylvania', '18929', 4.1)]

In [0]:
cursor.execute('''drop table IF EXISTS OrderTransaction ''')
connectionToDatabase.commit()
cursor.execute('''create table IF NOT EXISTS OrderTransaction (TransactionID real PRIMARY KEY, RestaurantID real, CustomerID real, OrderDate text, OrderTime text, ArrivalTime text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into OrderTransaction values (4001.0, 1100.0, 2000.0, '10/25/2019', '3:03 PM', '4:00 PM'), (4002.0, 1200.0, 2001.0, '09/22/2019', '12:24 PM', '1:15 PM'), (4003.0, 1300.0, 2002.0, '11/05/2019', '4:14 PM', '5:01 PM'), (4004.0, 1400.0, 2003.0, '11/10/2019', '1:23 PM', '1:45 PM'), (4005.0, 1500.0, 2004.0, '10/18/2019', '2:46 PM', '3:30 PM');''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''select * from OrderTransaction;''')
print (cursor.fetchall())

[(4001.0, 1100.0, 2000.0, '10/25/2019', '3:03 PM', '4:00 PM'), (4002.0, 1200.0, 2001.0, '09/22/2019', '12:24 PM', '1:15 PM'), (4003.0, 1300.0, 2002.0, '11/05/2019', '4:14 PM', '5:01 PM'), (4004.0, 1400.0, 2003.0, '11/10/2019', '1:23 PM', '1:45 PM'), (4005.0, 1500.0, 2004.0, '10/18/2019', '2:46 PM', '3:30 PM')]

In [0]:
cursor.execute('''drop table IF EXISTS FoodInformation ''')
connectionToDatabase.commit()
cursor.execute('''create table IF NOT EXISTS FoodInformation (FoodInfoID real PRIMARY KEY, FoodID real, FoodCategory text, MealType text, Calories real)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into FoodInformation values (3001.0, 1001.0, 'Asian', 'Lunch', 950.0), (3002.0, 1002.0, 'Italian', 'Dinner', 320.0), (3003.0, 1003.0, 'Asian', 'Lunch', 1015.0), (3004.0, 1004.0, 'Mexican', 'Dinner', 750.0), (3005.0, 1005.0, 'American', 'Lunch', 980.0);''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''select * from FoodInformation;''')
print (cursor.fetchall())

[(3001.0, 1001.0, 'Asian', 'Lunch', 950.0), (3002.0, 1002.0, 'Italian', 'Dinner', 320.0), (3003.0, 1003.0, 'Asian', 'Lunch', 1015.0), (3004.0, 1004.0, 'Mexican', 'Dinner', 750.0), (3005.0, 1005.0, 'American', 'Lunch', 980.0)]

In [0]:
cursor.execute('''drop table IF EXISTS RecommendedRestaurantList ''')
connectionToDatabase.commit()
cursor.execute('''create table IF NOT EXISTS RecommendedRestaurantList (RecommendedListID real PRIMARY KEY, CustomerID real, RecommendedRestaurant1 text, RecommendedRestaurant2 text, RecommendedRestaurant3 text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into RecommendedRestaurantList values (9001.0, 2000.0, 'Wings Over Happy Valley', 'Panera Bread', 'Babys'), (9002.0, 2001.0, 'Yallah Taco', 'Tadashi', 'Duck Donuts'), (9003.0, 2002.0, 'Momotaro', 'McDonalds', 'Burger King'), (9004.0, 2003.0, 'Waker Chicken', 'Playa Bowl', 'Frutta'), (9005.0, 2004.0, 'India Pavilion', 'Big Bite', 'Royal Halal');''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''select * from RecommendedRestaurantList;''')
print (cursor.fetchall())

[(9001.0, 2000.0, 'Wings Over Happy Valley', 'Panera Bread', 'Babys'), (9002.0, 2001.0, 'Yallah Taco', 'Tadashi', 'Duck Donuts'), (9003.0, 2002.0, 'Momotaro', 'McDonalds', 'Burger King'), (9004.0, 2003.0, 'Waker Chicken', 'Playa Bowl', 'Frutta'), (9005.0, 2004.0, 'India Pavilion', 'Big Bite', 'Royal Halal')]



---

**Question 1:** Which foods (top 3) have the most expensive prices in all the restaurants?

In [0]:
cursor.execute('''select Item Name, Price from FoodItem ORDER BY Price DESC limit 3''')
for row in cursor.fetchall():
  print (row)

('Pad Thai', '$9')
('Chicken Fried Rice', '$8')
('Chicken Wings', '$8')

**Explanation:** 
This question is important to the diagram because it will allow the application to categorize different food items based on price from highest to lowest. The data further allows the user to specifically choose if they are interested in purchasing more expensive or cheaper food options. The results aligned with our expectations seeing as the items with the highest prices listed would make sense compared to the selection for a college student.

---

**Question 2:** Which restaurants have the highest average rating?

In [0]:
cursor.execute('''select Restaurant Name, AvgRating from Restaurant ORDER BY AvgRating DESC''')
for row in cursor.fetchall():
  print (row)

('Big Bowl', 4.6)
('Tadashi', 4.4)
('Qdoba', 4.3)
('Wings Over Happy Valley', 4.1)
('Pizza Hut', 3.7)

**Explanation:** 
This question is significant for the project because it provides us with a list ordering the restaurants from those with the highest ratings to the lowest. The results can assist the end user in selecting a restaurant with the best reviews and quality possible. The outcome matched our assumptions since the top rated restaurants are similar to the most popular in the area.

---

**Question 3:** At what times was the food ordered and delivered to the customers?

In [0]:
cursor.execute('''select TransactionID, OrderTime, ArrivalTime from OrderTransaction ORDER BY TransactionID''')
for row in cursor.fetchall():
  print (row)

(4001.0, '3:03 PM', '4:00 PM')
(4002.0, '12:24 PM', '1:15 PM')
(4003.0, '4:14 PM', '5:01 PM')
(4004.0, '1:23 PM', '1:45 PM')
(4005.0, '2:46 PM', '3:30 PM')

 **Explanation:** The time the food was ordered 
 and delivered to the customers is important because it 
 allows the system to keep transactions in order. The time can assist in helping the user pick which restaurant they want to 
 order from due to knowing their previous and known order times. 
the customers is important because it allows the system to keep transactions in order. The time can assist in helping the user pick which restaurant they want to order from due to knowing their previous and known order times. This did match our expectations because it gave an accurate estimation to the common order times to help the user.

---